h1 {
  font-size: 24px;
  font-family: "BioRhyme", serif;
  padding: 20px 30px;
  margin: 30px;
  font-weight: 700;
  text-decoration: double underline 2px;
  color: #f15994;
  background-color: #4d3383;
}

h2 {
  font-size: 32px;
  font-family: "Dosis", sans-serif;
  padding: 30px;
  margin: 30px;
  font-weight: 800;
  color: #4d3383;
  background-color: #f15994;
}

p {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  padding: 20px 30px;
  margin: 0 30px;
  color: #362459;
  background-color: #eae1fc;
}

.logo {
  background-size: cover;
  background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
  background-color: #ef4444;
  height: 200px;
  width: 200px;
}
